.event-card {
    box-sizing: border-box;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: auto;
    color: var(--text-color);
    box-shadow: var(--primary-color) 0px 10px 27px -5px;
    font-size: var(--text-size);
}

@media (hover: hover) {
    /* targets only devices that can hover */
    .event-card:hover {
        box-shadow: var(--primary-color) 0px 10px 45px -5px, var(--secondary-color) 0px 5px 50px -8px;
    }
    .link:hover {
        text-shadow: 0 0 3px var(--primary-color-dark);
    }
}

/* event type tag colors */
#event-type-activity {
    color: var(--tertiary-color);
    text-shadow: 0 0 3px var(--tertiary-color);
}
#event-type-tech_talk {
    color: var(--secondary-color);
    text-shadow: 0 0 3px var(--secondary-color);
}
#event-type-workshop {
    color: var(--primary-color-darker);
    text-shadow: 0 0 3px var(--primary-color-darker);
}

/* paragraph line spacing is 1.5 */
.space {
    line-height: 150%;
}

.event-info {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.heading {
    color: var(--heading-color);
}

.link {
    color: var(--primary-color-darker);
}

.private-link {
    color: var(--background-color);
    text-decoration: none;
}

.private-link-button {
    box-shadow: var(--shadow-elevation-medium);
    font-size: var(--button-text-size);
    font-weight: bold;
    width: 100%;
}

.related-events {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    /* For desktop */
    h3 {
        font-size: var(--desktop-heading-size);
    }
    .event-card {
        font-size: var(--desktop-text-size);
    }
    .private-link-button {
        font-size: var(--desktop-button-text-size);
    }
    .date-time-speakers {
        display: flex;
        width: 90%;
        gap: 5em;
    }
}
