:root {
  /* app colors */
  --background-color: #1c3144;
  --primary-color: #48f0ff;
  --primary-color-darker: #48f0ff;
  --primary-color-dark: #00b2ca;
  --secondary-color: #c6f91f;
  --tertiary-color: #ff6ec7;

  /* text */
  --heading-color: #c0c1c2;
  --text-color: #ffffff;
  --font-family: "Helvetica";
  --heading-size: 18px;
  --text-size: 16px;
  --button-text-size: 18px;
  --desktop-heading-size: 30px;
  --desktop-text-size: 18px;
  --desktop-button-text-size: 22px;
  --header-size: 10vmax;

  /* login page shadow colors */
  --shadow-color: 209deg 62% 8%;
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

* {
  font-family: var(--font-family);
}

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
}